.content {
    text-align: center;
    border-radius: 0;
    border: 0;
    outline: 0;
  }
  .content:hover{
    background: none;
  }
  .noti .header {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
  }
  
  .img-body img {
    display: flex;
    margin: 0 auto;
    height: 40vh;
    object-fit: cover;
    width: 100%;
    height: 190px;
  }
  
  .img-body {
    width: 200px;
    height: 300px;
    outline: 0;
    border: 0;
    display: inline-block;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .img-body p{
    font-size: 12px;
  }
  
  .container {
    margin: 0 auto;
    width: 50%;
    border-radius: 0;
    border: 0;
    outline: 0;
  }
  .img-body .data1{
    background: none;
    align-items: start;
    margin-left: 0;
  }
  .img-body .data1 img{
    width: 15px;
    height: 15px;
    background: none;
    margin-top: 8px;
  }